*{
    font-family: sans-serif;
    margin: 0;
}

body{
    background-color: aliceblue;
}


.container{
    max-height: 350rem;
}

.divv{
    display: flex;
    align-items: baseline;
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: white;
    align-items: center;
    box-shadow: 5px 0 5px;
    justify-content: space-between;
}

.divv h1{
    padding: 0 5rem ;
}

.divv label{
    padding: 0 5rem 0 0;
    cursor: pointer;
}

button{
    margin: 10rem 0 0 5rem;
    width: 80px;
    height: 50px;
    background-color: white;
    border: none;
}
input{
    height: 50px;
    width: 25rem;
    border: none;
    padding: 0 0 0 10px;
    margin: 0 0 5rem -20px;
}

.flegs{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 50px 173px;
    padding: 0 5rem ;
}

.flegs div{
    width: 23rem;
    height: 30rem;
    background-color: white;
    cursor: pointer;
}
.flegs img{
    width: 23rem;
}

.flegs h3{
    padding: 2rem 1.75rem 2rem;
    font-size: 30px;
}
.flegs p{
    padding: 5px 1.75rem;
}









.sun{
    display: none;
    color: rgb(255, 255, 255);
}
.sunn{
    display: block;
    margin: 0 10px 0 0 ;
}

.moonn{
    display: none;
}

.DM{
    display: flex;
}

.bd{
    background-color: rgb(27, 27, 27);
}

.diiv{
    background-color: black;
}

.spann{
    color: aliceblue;
}

.spannn{
    color: aliceblue;
}

.productt{
    background-color: black;
}